<div class="head" color="primary">
  <mat-button-toggle appearance="standart"
    (click)="toggleAsterisk()"
    [ngClass]="{'connected': bttns.asteriskButton.color}">
      {{bttns.asteriskButton.value}}
  </mat-button-toggle>
  <mat-button-toggle appearance="standart"
    appearance="legacy"
    [(checked)]="bttns.socketButton.checked"
    (click)="toggleWebSocket()"
    [ngClass]="{'connected': bttns.socketButton.color}">
      {{bttns.socketButton.value}}
  </mat-button-toggle>
  <audio id="audio_remote" autoplay="autoplay"></audio>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="isProgress"></mat-progress-bar>
<div class="buttons">
  <button mat-raised-button
    (click)="toggleCall()"
    [(disabled)]="bttns.callButton.disabled"
    [ngClass]="{'calling': bttns.callButton.color}">
      <mat-icon>{{bttns.callButton.icon}}</mat-icon>&nbsp;{{bttns.callButton.value}}
  </button>
  <button mat-raised-button *ngIf="!bttns.callButton.disabled" (click)="callView.clear()">
      <mat-icon>delete</mat-icon>&nbsp;Очистить Диалог
  </button>

</div>
<!--<input matInput *ngIf="!bttns.callButton.disabled" placeholder="Введите номер" #callPhone/>-->
<app-call-viewer #callView></app-call-viewer>
