// .addNode {
//   padding-left: 30px;
//   width: 100%;
//   display: flex;
//   justify-content: normal;
// }
// .app-call-button {
//   width: 100%;
// }
.grid-toolbar {
  width: 100%;
  display: flex;
  // padding: 10px 0 10px 0px;
  // text-align: center;
  background-color: #3f51b5;
}
.nodeSelector {
  width: 20%;
}

mat-icon {
  color: #fff
}

.comment {
  width: 40%;
  margin: auto auto auto 0;
}
.toggleDrawer {
  // margin: auto 2em auto auto;
  color: #fff;
}
#toggle {
  margin-top: 2px;
}
