<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun" [hasBackdrop]="false">
    <mat-sidenav mode="over" [(opened)]="drawerOpen" position="end">
      <label class="drawerHeader">Sidenav content</label>
      <button (click)="ToggleContent()">ToggleContent</button>
      <button (click)="ToggleDrawer()">ToggleDrawer</button>
    </mat-sidenav>
    <mat-sidenav-content>
      Main content
    </mat-sidenav-content>
  <button (click)="ToggleDrawer()">ToggleDrawer</button>
   -->
   
<!-- <button id="button1" (click)="ToggleDrawer()">ToggleDrawer</button>
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="drawerOpen" position="end">
    <label>Main</label>
    <button (click)="ToggleContent()">ToggleContent</button>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="conentOpen">
    <label>Main</label>
    <button (click)="ToggleDrawer()">DrawerButton</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container" hasBackdrop= "false">
    <mat-drawer #sideNav mode="push" opened="true" position="end">
      Drawer content
    </mat-drawer>
    <mat-drawer-content>
      <button (click)="sideNav.toggle()" mat-button>Toggle SideNav</button>
      <button (click)="onTogglePosition(nav_position)" mat-button>Toggle Position {{ nav_position }}</button>
    </mat-drawer-content>
  </mat-drawer-container>