<!--<h1>Test</h1>-->
<!--<div>-->
  <!--{{ JSON.stringify(_modelService.model) }}-->
  <!--<button (click)="test()">Test</button>-->
<!--</div>-->

<button mat-icon-button (click)="addNewScript()"><mat-icon>add</mat-icon></button>
<button mat-icon-button><mat-icon>delete</mat-icon></button>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [ngClass]="{'rootNode': node }">
    <button mat-icon-button disabled [ngClass]="{'buttonExpand': node}">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox class="checklist-leaf-node" (change)="checked()">{{node.item}}</mat-checkbox>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <input matInput #itemValue placeholder="New item...">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isLevelMoreThenOne" matTreeNodePadding
                 (click)="onTreeClick(node)" [ngClass]="{ 'background-highlight': activeNode === node, 'back': node }">
    <!--<button mat-icon-button disabled></button>-->
    <!--<mat-checkbox (change)="checked()">{{node.item}}​</mat-checkbox>-->
    <span class="txtColor">{{node.item}}​</span>
    <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
  </mat-tree-node>
</mat-tree>
