.back {
  min-height: 30px !important;
  padding-left: 66px !important;
}
.buttonExpand {
  height: 30px;
  line-height: 24px;
}
.rootNode {
  min-height: 30px !important;
}
.back:hover{
  color: red;
  cursor: pointer;
}

.background-highlight{
  background: #eeeeee;
  font-weight: bold;
}
.addNewNode {
  margin-left: 18px
}