.panel {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
mat-icon {
    margin-bottom: 5px;
}
span {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
}