<mat-drawer-container class="example-container" hasBackdrop= "false">
  <mat-drawer #sideNav mode="side" opened="false">
    <app-call-button class="app-call-button"></app-call-button>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wrapper">
      <div class="content">

        <app-header></app-header>

        <app-grid-toolbar #data (toggleDrawer)="sideNav.toggle()"></app-grid-toolbar>

        <div class="mx-graph">

          <app-mx-graph class="mxGraph"></app-mx-graph>

          <app-node-settings-panel class="right-panel"></app-node-settings-panel>

        </div>
      </div>
        <div class="footer">
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<!-- <router-outlet></router-outlet> -->
