<div class="grid-toolbar">
  <!-- <div class="nodeSelector">
    <mat-form-field>
      <mat-label>Выберите узел</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onSelectChange(selected)" >
        <mat-option *ngFor="let option of nodeTypes" value="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="comment">
    <mat-card>
      <mat-card-content>
          <p>
              {{description}}
          </p>
      </mat-card-content>
    </mat-card>
  </div> -->
  <div class="toggleDrawer">
      <button id="toggle" mat-button (click)="onToggleDrawer()"><mat-icon [ngStyle]="{'color': '#fff'}">menu</mat-icon> Меню</button>
  </div>
  <app-tree-panel></app-tree-panel>
</div>
<!-- <mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile [colspan]="2">
    <div class="addNode">
      <mat-form-field>
        <mat-label>Выберите узел</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onSelectChange(selected)" >
          <mat-option *ngFor="let option of nodeTypes" value="{{option}}">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card class="comment">
        <mat-card-content>
            <p>
                {{description}}
            </p>
          </mat-card-content>
      </mat-card>
       <div>
        <label style="color: lightgray;font-size: 16px; font-family: Roboto">Описание узла</label>
        <p class="comment">
            {{description}}
        </p>
      </div> 
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <button id="toggle" mat-raised-button color="warn" (click)="onToggleDrawer()">Проверить граф</button>
  </mat-grid-tile>
</mat-grid-list> -->
<mat-divider></mat-divider>
