<mat-divider></mat-divider>
<mat-grid-list cols="1" rowHeight="30px" >
  <mat-grid-tile [colspan]="1" class="toolbar-grid">
    <div class="panel">
      <button mat-button><mat-icon>add</mat-icon></button>
      <button mat-button><mat-icon>delete</mat-icon></button>
      <button mat-button><mat-icon>save</mat-icon></button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="10">
    <div class="option-table" *ngIf="isOption" >
      <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
          <ng-container matColumnDef="option">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Параметр </th>
              <td mat-cell *matCellDef="let element"> {{element.option}} </td>
          </ng-container>
          <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Значение </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="varName">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Название переменной </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="synthText">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Текст для синтеза </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="asrOpt">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Опции распознавания </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="grammar">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Грамматика </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="keywords">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Ключевые слова </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          <ng-container matColumnDef="repeatCount">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Количество повторений </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}}>
              </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsForOptions"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForOptions;"></tr>
      </table>
    </div>
    <div class="children-table" *ngIf="isChildren">
      <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
          <!-- <ng-container matColumnDef="option">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Параметр </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container> -->
          <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef class="table-head"> Дочерние узлы </th>
              <td mat-cell *matCellDef="let element">
                  <input matInput placeholder="Введите значение..." value={{element.value}} >
              </td>
          </ng-container>
          <ng-container matColumnDef="keywords">
            <th mat-header-cell *matHeaderCellDef class="table-head"> Ключевые слова </th>
            <td mat-cell *matCellDef="let element">
                <textarea matInput placeholder="Список ключевых слов через запятую" value={{element.keywords}}></textarea>
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsForChildren"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForChildren;"></tr>
      </table>
    </div>
  </mat-grid-tile>
</mat-grid-list>